<h1> Welcome to our Product</h1>


<!-- <h2>Emphasis classes</h2>
<p class="text-muted">Fusce dapibus, tellus ac cursus commodo, tortor mauris nibh.</p>
<p class="text-primary">Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
<p class="text-secondary">Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
<p class="text-warning">Etiam porta sem malesuada magna mollis euismod.</p>
<p class="text-danger">Donec ullamcorper nulla non metus auctor fringilla.</p>
<p class="text-success">Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>
<p class="text-info">Maecenas sed diam eget risus varius blandit sit amet non magna.</p> -->


<input type="button" value="ShowUser" (click)="showuser()">
<input type="button" value="showtodo" (click)="showtodo()">
<ul class="list-group">
    <li class="list-group-item" *ngFor="let todo of todo">
        <!-- {{user.userId}}  {{user.userName}}  {{user.phone}} -->
       {{todo.id}} {{todo.title}} 
        <input type="button" value="DELETE" class="btn btn-danger" (click)="deletetodo(todo.id)">
        <input type="button" value="Edit" class="btn btn-success" (click)="edittodo(todo)">
    </li>
</ul>


<input type="text" name="todo" [(ngModel)]="mytodo">
<input type="submit" value="AddTodo" (click)="addtodo()">
<input type="button" value="save" (click)="edit()" class="btn btn-info">
<input type="button" value="View" (click)="viewtodo()" class="btn btn-view">
<h1>{{this.tit}}</h1>
 


<div *ngIf="showdiv">
    <div *ngIf="show; else hide">
        <h2 style="color: rgb(15, 255, 15);">Todo Added succesfully</h2>

    </div>
        <ng-template #hide>
            <h2 style="color: red;" >
                Error Occured
            </h2>

            </ng-template>
        


    
</div>
