




<p>
  home works!
</p>
<h2>User Details</h2>

<!-- <p>ID : {{myuser.userId}}</p>
<p>Name :{{myuser.userName}}</p>
<p>Phone: {{myuser.phone}}</p> -->

<table border="1">
  <tr>
    <th>UserID</th>
    <th>Username</th>
    <th>Userphone</th>



  </tr>

  <tr *ngFor="let user of userList" (click)=selectUser(user) class="lol">

    <td>{{user.userId}}</td>
    <td>{{user.userName}}</td>
    <td>{{user.phone}}</td>
  </tr>
</table>
<br>

<div *ngIf = "show;else other">

ID:<p>{{uid}}</p>
Name:<p>{{uname}}</p>
phone:<p>{{phone}}</p>
</div>

<!-- <ng-template #other> -->
  <!-- <p>Data Not Available</p>
</ng-template> -->
{{name| uppercase}}
{{strDate | date:'fulldate'}}
<div *ngFor="let user of userList">
  <div ngSwitch="{{user.userId %2}}">

    <div *ngSwitchCase="'0'"[ngClass]="'even'">{{user.userName}}</div>
    <div *ngSwitchCase="'1'"[ngClass]="'odd'">{{user.userName}}</div>
  </div>
</div>

<input type="text" name="userid" [(ngModel)]="userid">
<button type="submit" (click)="search()">Search</button>

<!-- <div *ngFor="let user of userList">
  <div ngSwitch = "{{userid}}"> 

    <div *ngSwitchCase="'101'">{{searchuser.userId}}</div>
    <div *ngSwitchCase="'102'">{{searchuser.userName}}</div>
    <div *ngSwitchCase="'103'">{{searchuser.phone}}</div>
    <div *ngSwitchDefault>User with id:{{ userid }} not available</div>
   </div>  -->
  <div *ngIf = "showuser;else other"> 

  ID:<p>{{searchuser.userId}}</p>
Name:<p>{{searchuser.username}}</p>
phone:<p>{{searchuser.phone}}</p>
</div>
<ng-template #other>
  <p>user Not Available</p>
</ng-template>




