<!-- <p>
   works!
</p> -->
  

<div class="bg">


</div>


<div class="jumbotron container">
  <h1 class="display-3">Student Details</h1>
  <!-- <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p> -->
  <form #frm="ngForm" (ngSubmit)="submit(frm.value)">

   


  <div class="form-group">
      <label for="Fname">FirstNmae</label>
      <input type="text" class="form-control" id="Fname"  name="first" [(ngModel)]="fname"
      placeholder="FirstName" #first="ngModel" required minlength="5" pattern="[A-Za-z]*"/>
    
    <div *ngIf="first?.invalid && (first?.touched || first?.dirty)">
      <div *ngIf="first?.errors.required" class="alert alert-danger">Please Enter FirstName</div>
      <div *ngIf="first?.errors.minlength" class="alert alert-danger">Minimum 5 charecters</div>
      <div *ngIf="first?.errors.pattern" class="alert alert-danger">firstname contains only Alphabets</div>
    </div>
  </div>

    <div class="form-group">
        <label for="Lname">LastNmae</label>
        <input type="text" class="form-control" id="Lname"name="Last"[(ngModel)]="Lname"
         placeholder="LastName"#Last="ngModel" pattern="[A-Za-z]*" required minlength="5">
         <div *ngIf="Last?.invalid && (Last?.touched || Last?.dirty)">
          <div *ngIf="Last?.errors.required" class="alert alert-danger">Please Enter LastName</div>
          <div *ngIf="Last?.errors.minlength" class="alert alert-danger">Minimum 5 charecters</div>
          <div *ngIf="Last?.errors.pattern" class="alert alert-danger">firstname contains only Alphabets</div>
        </div>
      </div>
      <!-- </div> -->

      <div class="form-group">
          <label for="mailid">Email address</label>
          <input type="email" class="form-control" id="mailid" aria-describedby="emailHelp" name="mail" [(ngModel)]="email"
           placeholder="Enter email" #mail="ngModel"  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
           <div *ngIf="mail?.invalid && (mail?.touched || mail?.dirty)">
            <div *ngIf="mail?.errors.required" class="alert alert-danger">Please Enter Valid Mail</div>
            <div *ngIf="mail?.errors.minlength" class="alert alert-danger">mail id should be valid one</div>
            <div *ngIf="mail?.errors.pattern" class="alert alert-danger">Enter proper mail Id</div>
            <!-- <div *ngIf="mail?.errors.pattern" class="alert alert-danger">firstname contains only Alphabets</div> -->
            </div>
          
        </div>
        <div class="form-group">
          <label for="Mobile">Mobile number</label>
          <input type="text" class="form-control" id="Mobile" name="contact"[(ngModel)]="phone"
           placeholder="Mobile number" #contact="ngModel" pattern="[0-9]*">
           <div *ngIf="contact?.invalid && (contact?.touched || contact?.dirty)">
            <div *ngIf="contact?.errors.required" class="alert alert-danger">Please Enter number</div>
            <div *ngIf="contact?.errors.pattern" class="alert alert-danger">Please Enter Number</div>
        </div>
        </div>

        <button type="button" class="btn btn-success" [disabled]="frm.invalid">Submit</button>
        <button type="submit" class="btn btn-primary" (click)="edit()">Save</button> 

  


  </form>
</div>





